@model Dictionary<String, Schedule>
<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

@foreach (var item in @Model) {
	<div>
		<h4>Name: @item.Value.Name</h4>
		<div>ID: @item.Key</div>
		<div>Description: @item.Value.Description</div>
		<div>Local time: @item.Value.LocalTime </div>
		<div>Status: @item.Value.Status </div>
	</div>
}
